.App-header {
  font-family:'Roboto',sans-serif;
  background-color: #282c34;
  min-height: 3.0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  padding-right: 0.5em;
  text-align: right;
}

.App-container {
  padding: 0 2em;
  display: flex;
}

.App-title {
  font-family:'Roboto',sans-serif;
  color: rgb(47, 142, 241);
  font-weight: bold;
  font-size: xxx-large;
}

button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin: 0.5em 0.1em 0.1em 1.2em;
  border:0.2em solid rgb(47, 142, 241);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:rgb(47, 142, 241);
  text-shadow: 0 0.04em 0.04em rgb(47, 142, 241);
  text-align:center;
  transition: all 0.2s;
  height: 4rem;
  width: 10rem;
  font-size: 1.2rem;
}

button:hover{
  border-color: #282c34;
  color:#282c34;
}

h1 {
  margin: 0 0 0.5em 1.2em;
  color : #152952;
}
